


/* scroll to top button */
.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 40;
}

.top-btn-style {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  
  background-image: linear-gradient( 108.7deg,  rgba(221,22,224,1) 11%, rgba(111,22,190,1) 88.2% );

  color: #333;
  cursor: pointer;
}

.top-btn-style:hover {
  animation: none;
  background-color: #ac59bd;
  
  border: 2px solid #78088f;
}

.custom-shape-divider-bottom-1714635185 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1714635185 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1714635185 .shape-fill {
  fill: #FFFFFF;
}

